@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-header {
  background: url(/assets/hero_flower_medium.jpeg) center center no-repeat;
  background-attachment: fixed;
  background-position: bottom left;
}

.bg-about-us {
  background: rgb(190, 219, 254) center center no-repeat;
  background: radial-gradient(
    circle,
    rgba(190, 219, 254, 1) 0%,
    rgba(165, 243, 252, 1) 100%
  );
  background-attachment: fixed;
  background-position: bottom left;
}
.bg-insurance {
  background: rgb(197, 245, 254) center center no-repeat;
  background: radial-gradient(
    circle,
    rgba(197, 245, 254, 1) 0%,
    rgba(246, 241, 202, 1) 100%
  );
  background-attachment: fixed;
  background-position: bottom left;
}

.bg-prvni-vysetreni {
  background: url(/assets/prvni_vys_medium.jpeg) center center no-repeat;
  background-attachment: fixed;
  background-position: bottom left;
}
